<h3 class="ui header">
  Change password
</h3>
<div class="ui attached segment">
  <form class="ui form">
    <div class="ui equal width grid">
      <div class="column">
        <div class="field">
          <label for="profile-new-password">New password</label>
          {{input type="password" class="form-control" id="profile-new-password" value=newPassword}}
        </div>
        
        <div class="field">
          <label for="profile-new-password-repeat">New password <i>(repeat)</i></label>
          {{input type="password" class="form-control" id="profile-new-password-repeat" value=newPasswordRepeat}}
        </div>
      </div>

      <div class="ui column">
        <div class="field">
          <label>Password strength</label>
          {{#ui-progress percent=testPasswordStrength class="teal tiny indicating"}}
            <div class="bar"></div>
          {{/ui-progress}}
        </div>

        {{#if passwordWarning.length}}
          <div class="ui info message">
            <ul class="list">
              {{#each passwordWarning as |message|}}
                <li>{{message}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="ui section divider"></div>

    <div class="ui grid">
      <div class="eight wide column">
        <div class="field">
          <label for="profile-current-password">Current password</label>
          {{input type="password" class="form-control" id="profile-current-password" value=oldPassword}}
          </div>
      </div>
    </div>
  </form>
</div>
<div class="ui bottom attached block right aligned header">
  {{#if saveIsDisabled}}
    <button disabled="disabled" class="ui primary button">Saved</button>
  {{else}}
    <button {{action 'save'}} class="ui primary button">Save</button>
  {{/if}}
</div>

{{#if errorMessage}}
  <div class="ui error message">
    <p>
      <i class="warning icon"></i>
      {{errorMessage}}
    </p>
  </div>
{{/if}}