{{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Login failed:</strong> <code>{{errorMessage}}</code>
  </div>
{{/if}}

{{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
<form {{action 'authenticateWithJWT' on='submit'}}>
  <div class="form-group">
      {{input value=identification placeholder="Email..." class="form-control" type="text"}}
  </div>
  <div class="form-group">
      {{input value=password placeholder="Password..." class="form-control" type="password"}}
  </div>
  <div class="form-group row">
    <div class="col-6">
      <div class="form-check">
        <label class="form-check-label">
          {{input checked=rememberMe class="form-check-input" type="checkbox"}} Remember me
        </label>
      </div>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </div>
</form>