<div class="ui container text">
  <h2 class="ui header">My profile</h2>
  <div class="ui attached segment">
    <form class="ui form">
      <div class="ui grid">
        <div class="six wide column">
          <i class="inverted massive teal circular user icon"></i>
        </div>
        <div class="ten wide column">
          <div class="field">
            <label for="profile-email">Email</label>
            {{input type="text" value=model.email id="profile-email"}}
          </div>
          <div class="field">
            <label>Name</label>
            <div class="fields">
              <div class="six wide field">
                {{input type="text" class="form-control" value=model.firstName placeholder="First Name"}}
              </div>
              <div class="three wide field">
                {{input type="text" class="form-control" value=model.suffix placeholder="Suffix"}}
              </div>
              <div class="seven wide field">
                {{input type="text" class="form-control" value=model.lastName placeholder="Last Name"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ui bottom attached block right aligned header">
    {{#if model.hasDirtyAttributes}}
      <button class="ui primary button" {{action 'save'}}>Save</button>
    {{else}}
      <button class="ui primary button" disabled="disabled">Saved</button>
    {{/if}}
  </div>

  <br>

  {{change-password}}
</div>