<div class="ui container text">
  <h2>My profile</h2>
  <div class="ui segment">
    <form class="ui form">
      <div class="ui grid">
        <div class="six wide column">
          <i class="inverted massive teal circular user icon"></i>
        </div>
        <div class="ten wide column">
          <div class="field">
            <label for="profile-email">Email</label>
            {{input type="text" value=model.email id="profile-email"}}
          </div>
          <div class="field">
            <label>Name</label>
            <div class="fields">
              <div class="six wide field">
                {{input type="text" class="form-control" value=model.firstName placeholder="First Name"}}
              </div>
              <div class="three wide field">
                {{input type="text" class="form-control" value=model.suffix placeholder="Suffix"}}
              </div>
              <div class="seven wide field">
                {{input type="text" class="form-control" value=model.lastName placeholder="Last Name"}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4 class="ui dividing header">
        Change password
      </h4>
      <div class="ui equal width grid">
        <div class="column">
          <div class="field">
            <label for="profile-new-password">New password</label>
            {{input type="password" class="form-control" id="profile-new-password"}}
          </div>
          <div class="field">
            <label for="profile-new-password-repeat">New password <i>(repeat)</i></label>
            {{input type="password" class="form-control" id="profile-new-password-repeat"}}
          </div>
        </div>
        <div class="ui center aligned column">
          <p>
            <i>&lt;Some password strength measurer&gt;</i>
          </p>
        </div>
      </div>

      <h4 class="ui dividing header"></h4>
      <div class="eight wide field">
        <label for="profile-current-password">Current password</label>
        {{input type="password" class="form-control" id="profile-current-password"}}
      </div>
    </form>

    <h4 class="ui dividing header"></h4>

    {{#if model.hasDirtyAttributes}}
      <button class="ui primary button" {{action 'save'}}>Save</button>
    {{else}}
      <button class="ui primary button" disabled="disabled">Saved</button>
    {{/if}}
  </div>
</div>